# Week 1 [Assignment 1]

Q1. Creating Variable

In [1]:
#String 
a = 'Variable'

In [3]:
#list
l = [1,3,'list',3.0,True]

In [4]:
#Float
f = 3.149

In [5]:
#Tuple
T = (1,3,'list',3.0,True)

Q.2 

1)String
2)String
3)List
4)Float

Q.3 Use of Operator

1) / For Division

In [7]:
10/5

2.0

2) % For Mod

In [8]:
10%5

0

3) // For Floor Division

In [10]:
10//5

2

4) ** For Exponent

In [12]:
10**5

100000

Q.4

In [24]:
List = [10,'Ten',10.0,20,'Twenty',20.0,30,'Thirty',30.0,True]

for i in List :
    print(i)
    print(type(i))

10
<class 'int'>
Ten
<class 'str'>
10.0
<class 'float'>
20
<class 'int'>
Twenty
<class 'str'>
20.0
<class 'float'>
30
<class 'int'>
Thirty
<class 'str'>
30.0
<class 'float'>
True
<class 'bool'>

Q.5 To Check Divisibility

In [3]:
a = int(input("Enter A = " ))
b = int(input("Enter B = "))

count = 0

while (a%b) == 0:
    count = count + 1
    a=a//b
print(f'Divisible till {count} Time')

Enter A = 8
Enter B = 2
Divisible till 3 Time

Q.6

In [10]:
l=list(range(25))
print(l)

for i in l:
    if i%3 == 0:
        print(f"{i} is Divisible by 3")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
0 is Divisible by 3
3 is Divisible by 3
6 is Divisible by 3
9 is Divisible by 3
12 is Divisible by 3
15 is Divisible by 3
18 is Divisible by 3
21 is Divisible by 3
24 is Divisible by 3

Q.7

Mutable : It means we can change it later

In [11]:
l1 = [1,3,7,9,5]
print(l1)
l1[1]=0
print(l1)

[1, 3, 7, 9, 5]
[1, 0, 7, 9, 5]

Immutable : It means can not be changed later , 
Below String is now immutable

In [13]:
str = 'Immutable'
str[1] = 'n'

TypeError: 'str' object does not support item assignment